.status-btn{
    color: #969393;
    cursor: pointer;
}

 /* Custom SweetAlert2 container */
.custom-swal-container {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Custom modal box */
.custom-modal-box {
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

/* Post details content */
.post-content {
    margin-bottom: 15px;
}

/* Username and post status */
.user-status {
    margin-bottom: 10px;
}

/* Privacy status and post date */
.privacy-date {
    margin-top: 5px;
}
