*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.verification-main-wrap{
    width: 100%;
    height: 100vh;
    background-color: #0F172A;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.wrapper{
    width: auto;
    height: auto;
    background-color: #fafafa;
    box-shadow: 0px -4px 2px #198754;
    text-align: center;
    margin-top: 40px;
    border-radius: 2px;
}

.notice-title{
    color: #CFA165;
}

.wrapper.expired{
    box-shadow: 0px -4px 2px #dc3545;
}

.wrapper.warning{
    box-shadow: 0px -5px 2px #CFA165;
}

.verify-img{
    width: 150px;
    background-color: #fafafa;
    margin-bottom: 20px;
}

.verify-alert{
    color: #000 !important;
}

.card{
    background-color: #fafafa !important;
}

.resend-btn{
    background-color: #59BD74 !important;
}

